[v-cloak]{
	display: none;
}
.bootstrap-tagsinput .tag {
    background-color: #9f87de;
    padding: 0.05rem 0.4rem 0.05rem 0.4rem;
}
.no-sort { 
	pointer-events: none!important; 
	cursor: default!important; 
	background: none !important;
	&::after{
		display: none!important;
	}
	&::before{
		display: none!important;
	}
}

.select2-dropdown{
	z-index: 9;
}

.loading-overlay{
	z-index: 99999;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    margin-left: -100px;
    margin-top: -100px;
    background: url(../img/loading.gif);
    background-size: 160px 160px;
    display: none;
}